.App {
  /* text-align: center; */
}

.App.light {
  background-color: #ffffff;
  color: #333333;
}

/* Dark Mode Styles */
.App.dark {
  background-color: #333333;
  color: #ffffff;
}

.about-section{
  display: flex;
  flex-direction: column;
  background-color: gray;
  color: #ffffff;
  padding: 50px;
}
.about-section h1, h3 {
  color: black;
  text-shadow: 2px 2px red;
}
.my-image{
  position: absolute;
  margin-left: 80%;
  width: 100px;
  border: 2px solid black;
  border-radius: 10%;
  
}
.my-image:hover{
  position: absolute;
  margin-left: 80%;
  width: 140px;
  border: 5px solid orange;
  border-radius: 50%;
}
@media (max-width: 450px) {
  .my-image{
    position: absolute;
    margin-left: 60%;
    width: 70px;
  }
  
}
@media (max-width: 450px) {
  .textchange {
    position: relative;
    height: 60px;
    width: 380px;
  }
}
