.App {
  /* text-align: center; */
}

.App.light {
  background-color: #ffffff;
  color: #333333;
}

/* Dark Mode Styles */
.App.dark {
  background-color: #333333;
  color: #ffffff;
}

/* .dark-mode {
  position: absolute;
  margin-top: 373px;
  margin-left: 1050px;
  background-color: lightgray;
  border-radius: 8%;
}

@media (max-width: 450px) {
  .dark-mode {
    position: absolute;
    margin-top: 520px;
    margin-left: 200px;
    width: 110px;
  }
} */
@media (max-width: 450px) {
  .textchange {
    position: relative;
    height: 60px;
    width: 380px;
  }
}
